<div class="view">
    <div class="view_aside">
        <span class="view_aside_items">
            <img src="../../../../assets/icons/Picture1.svg" class="active_icon" (click)="changeToMenu('idea')">
        </span>
        <span class="view_aside_items">
            <img src="../../../../assets/icons/Files.svg" class="active_icon" (click)="changeToMenu('files')">
        </span>
        <span class="view_aside_items">
            <img src="../../../../assets/icons/points.svg" class="active_icon" (click)="changeToMenu('points')">
        </span>
        <span class="view_aside_items">
            <img src="../../../../assets/icons/edit.svg" class="active_icon" (click)="changeToMenu('edit')">
        </span>
    </div>
    <div class="view_all">
        <div class="view_idea" *ngIf="changeMenu==='idea'">
            <div class="view_overviews">
                <span (click)="Resize()" class="material-symbols-outlined" id="view_overviews_resize">
                    resize
                </span>
                <img src="{{new_viewImageSrc}}" alt="" id="view_image">
            </div>
            <div class="view_overviews_resize" *ngIf="closedResize">
                <img src="{{new_viewImageSrc}}" alt="" id="view_overviews_resize_view_image" width="100%" height="100%">
                <span (click)="Resize()" class="material-symbols-outlined" id="view_overviews_resize_view_image_resize">
                    resize
                </span>
            </div>
            <div class="view_others">
    
                <div class="view_others_title" >
                    {{new_ideaTitle}}
                </div>
                
                <div class="view_others_links">
                    <span class="material-symbols-outlined" id="view_others_links_logo">
                        link
                    </span>
                    <button type="button" class="links" *ngFor="let links of ShowIdeaLinkList">
                        <a href="{{links.linkHref}}">
                            <img src="{{links.linkImage}}" id="view_others_links_image">
                            <span style="width: max-content; margin-left: 5px;">{{links.linkText}}</span>  
                        </a>
                    </button>
                </div>
                <span id="horizontal_line"></span>
                <div class="view_others_description">
                    {{new_description}}
                </div>
                
                
            </div>
        </div>


        <!-- VIEW FILES -->

        <div class="view_files" *ngIf="changeMenu==='files'">
            

            <!-- collections -->
            <div class="view_files_collections">
                <div class="view_files_collections_header">
                    <span id="view_files_collections_id">Collections</span>
                    <span class="material-symbols-outlined" id="view_files_collections_add">add</span>
                </div>
                <div class="view_files_collections_items">
                    <span class="view_files_collections_item"><span class="material-symbols-outlined" id="view_files_collections_items_icon" (click)="deleteCollection()">delete_forever</span>Collection 1</span>
                    
                </div>
            </div>

            <div class="view_files_collection_files">
                <div class="view_files_collection_file">
                    <div class="view_files_collection_file_template">
                        <img src="../../../../assets/beautiful-nature-mountain-scenery-with-flowers-free-photo.webp" alt="" id="view_files_collection_file_template_image">
                        File 1
                    </div>
                    <input type="text" name="" id="view_files_collection_file_template_description">
                    <div class="view_files_collection_file_icons">
                        <span class="material-symbols-outlined">edit_note</span>
                        <span class="material-symbols-outlined">delete_forever</span>
                    </div>
                </div>
                <span class="material-symbols-outlined" id="view_files_collection_file_add">add</span>
            </div>
        </div>


        <!-- EDIT ADD POINTS -->

        <div class="edit_comments" *ngIf="changeMenu==='points'">
            <span class="edit_comments_title">Add Points to your Idea</span>
            <div class="edit_comments_main">
                <div class="edit_comments_main_content">
                    <textarea #textarea="ngModel" id="edit_comments_main_textarea" cols="30" rows="10" [(ngModel)]="pointComment" placeholder="Write a fresh Point for an Idea"></textarea>
                    <span class="material-symbols-outlined" id="edit_comments_main_textarea_save" *ngIf="textarea.dirty" (click)="AddComment()">new_label</span>
                    <div class="edit_comments_main_textarea_links">
                        <span class="edit_comments_main_textarea_link" *ngFor="let links of commentLinkList">
                            <span class="material-symbols-outlined" id="edit_comments_main_textarea_logo">link</span>
                            <span class="edit_comments_main_textarea_link_text">{{links.linkTitle}}</span>
                        </span>
                    </div>
                </div>
                <div class="edit_comments_main_images">
                    <img src="{{pointImage}}" alt="" id="edit_comments_main_image">
                    <input type="file" accept="image/*" name="" id="edit_comments_main_input" (change)="getPointImage($event)">
                </div>
            </div>
            <span class="guide_edit_comments_add_links">
                Enter Title and Url to add Refrences in your Idea Point
            </span>
            <div class="edit_comments_add_links">
                <input type="text" class="edit_comments_add_links_title" placeholder="Enter the title" [(ngModel)]="linkTitle">
                <input type="text" class="edit_comments_add_links_href" placeholder="Enter the link url" [(ngModel)]="linkHref">
            </div>
            <span class="material-symbols-outlined" id="edit_comments_add_links_icon" (click)="addLink()">add_link</span>
        </div>



        <!-- EDIT IDEA -->


        <div class="view_setting" *ngIf="changeMenu==='edit'">
            <div class="editIdea_header">
                <div class="editIdea_databaseName">
                    <div class="databaseLogo">{{DatbaseName_first_Letter}}</div>
                    <div class="databaseName">{{DatbaseName}}</div>
                    <!--Add Idea Name-->
                </div>
                <!-- <input type="text" name="" id="" placeholder="Search"> -->
                <button type="button" class="editIdea_delete" (click)="delete_Idea()">
                    <span class="material-symbols-outlined">
                        delete
                    </span>
                    Delete Idea
                </button>
                <!-- <button type="button" (click)="end_edit()">X</button> -->
            </div>
            <div class="editIdea_body">
                <div class="editIdea_asideMenu">
                    <div class="editIdea_ideaDetails" (click)="show_ideaDetails()">
                        <span class="activeSettings"></span>
                        <span class="material-symbols-outlined">
                        lightbulb
                        </span>IdeaDetails
                    </div>
                    <div class="editIdea_links" (click)="show_links()">
                        <span class="activeSettings"></span>
                        <span class="material-symbols-outlined">
                        link
                        </span>Links & Info
                    </div>
                    <div class="editIdea_databseSecurity" (click)="show_databaseSecurity()">
                        <span class="activeSettings"></span>
                        <span class="material-symbols-outlined">
                        vpn_key
                        </span>Manage Access
                    </div>
                </div>
            
            
                <!--EditIdea Main Content-->
                <div class="editIdea_mainContent">
                    <!--Main Content : Idea Deatils-->
                    <div class="editIdea_mainContent_ideaDetails" *ngIf="bool_ideaDetails">
                        <p class="mainContent_heading">Manage Idea Details</p>
                        <div class="ideaDetails_title">
                            <p class="mainContent_heading_title">Change Idea Title</p>
                            <input type="text" name="" id="ideaDetails_title_text" [(ngModel)]="new_ideaTitle" (ngModelChange)="addTitleToDb($event)" placeholder="Enter New Idea Title">
                        </div>
                        <div class="ideaDetails_Description">
                            <p class="mainContent_heading_title">Change Idea Description</p>
                            <!-- <input type="text" name="" id="ideaDetails_title_text"> -->
                            <textarea name="" id="ideaDetails_Description_text" cols="30" rows="10" [(ngModel)]="new_description" (ngModelChange)="addDescriptionToDb($event)" placeholder="Enter New Idea Description"></textarea>
                        </div>
                        <div class="ideaDetails_image">
                            <p class="mainContent_heading_title">Change Idea View Image</p>
                            <div class="ideaDetails_image_edit">
                                <img src={{new_viewImageSrc}} alt="" class="ideaDetails_image_show" >
                                <!-- <div class="ideaDetails_image_show" ></div> -->
                                <input type="file" accept="image/*" name="" id="ideaDetails_image_edit_file" accept="image/*" (change)="onImageSelected($event)">
                            </div>
                            
                        </div>
                        <!-- <div class="mainContent_save_cancel">
                            <button type="button" (click)="onApply_ideaDetails()">Apply</button>
                            <button type="button" (click)="end_edit()">Cancel</button>
                        </div> -->
                    </div>
            
            
                    <!--Main Content : DataSecurity-->
                    <div class="editIdea_mainContent_databseSecurity" *ngIf="bool_databaseSecurity">
                        <p class="mainContent_heading">Manage Access of Data among Shared</p>
                        <h2>Coming Soon</h2>
                    </div>
            
            
            
                    <!--Main Content : Links-->
                    <div class="editIdea_mainContent_links" *ngIf="bool_links">
                        <p class="mainContent_heading">Manage Associated Links</p>
                        <div class="External_links">
                            <p class="mainContent_heading_title">Add External releated Links</p>
                            <div class="above_edit_links">
                                <div class="edit_links">
                                    <div class="link_image">
                                        <img src="{{linkImage}}" alt="" id="link_image_img">
                                        <input type="file" accept="image/*" name="" id="link_image_file" (change)="addLinkImage($event)">
                                    </div>
                                    <div class="input_links">
                                        <div class="input_links_text">
                                            <input type="text" name="" id="input_links_text" [(ngModel)]="ideaLinkText" placeholder="Enter Text to appear">
                                        </div>
                                        <div class="input_links_href">
                                            <input type="text" name="" id="input_links_href" [(ngModel)]="ideaLinkHref" placeholder="Enter Link Realted to it">
                                        </div>
                                        
                                    </div>
                                </div>
                                <button type="button" id="add_new_link" (click)="addIdeaLinks()">
                                    <span class="material-symbols-outlined">
                                        add_link
                                    </span>
                                </button>
                                
                            </div>
                            <p class="inserted_links_heading">Manage Inserted Links</p>
                            <div class="inserted_links">
                                <div class="show_inserted_link" *ngFor="let links of ShowIdeaLinkList">
                                    <img src="{{links.linkImage}}" alt="" id="show_inserted_links_image" width="40px" height="40px" style="border-radius: 5px;">
                                    <div class="show_inserted_links">
                                        <input type="text" name="" id="show_inserted_links_name" value="{{links.linkText}}">
                                        <input type="text" name="" id="show_inserted_links_href" value="{{links.linkHref}}">   
                                    </div>
                                    <button type="button" id="show_inserted_links_delete" (click)="deleteIdeaLink(links.linkImage,links.linkHref,links.linkText)">
                                        <span class="material-symbols-outlined" id="show_inserted_links_delete_icon">
                                            delete
                                        </span>
                                    </button>
                                </div>
                            </div>
                            
                        </div>



                        <!-- PERSONAL LINKS -->

                        <!-- <div class="Person_links">
                            <p class="mainContent_heading_title">Add Person Links</p>
                            <div class="links">
                                <div class="link_image">
                                    <img src="" alt="">
                                    <input type="file" name="" id="">
                                </div>
                                <input type="text" name="" id="" placeholder="Enter Text to appear">
                                <input type="text" name="" id="" placeholder="Enter Link Realted to it">
                            </div>
                        </div> -->

                        
                    </div>
            
            
            
                    
                    
                </div>
            </div>
        </div>
    </div>
    
</div>

<!-- 
<div class="view_others_databases">
    <button type="button" (click)="view_files()" id="View_files_buttons">{{view}}</button>
    <button type="button" (click)="start_edit()" *ngIf="view_edit">E</button>
</div>
<app-files *ngIf="viewFiles"></app-files> -->



<!-- Edit Idea -->
<div class="editIdea" *ngIf="editable_window">


    <!--EditIdea_header-->
    



    <!--editIdea Body-->
    
    <!--EditIdea Aside Menu-->
    <!--Main Content : Files-->
    <div class="editIdea_mainContent_files" *ngIf="bool_files">
        <p class="mainContent_heading">Manage Stored Files</p>
        <!-- <p>Comming Soon</p> -->
        <div class="inputFiles">
            <div class="available_inputFiles" *ngFor="let files of Files">
                <input type="text" name="" id="" placeholder="Enter Text to Appear" value="{{files.Name}}">
                <!-- <input type="text" name="" id="" placeholder="Enter Extension of File">  -->
                <button type="button">Delete</button>
            </div>
            <div class="new_inputFiles">
                <input type="text" name="" id="" placeholder="Enter Text to Appear">
                <input type="text" name="" id="" placeholder="Enter Extension of File">
                <input type="file" name="" id="">
            </div>
            
        </div>
        <div class="mainContent_save_cancel">
            <button type="button">Apply</button>
            <button type="button" (click)="end_edit()">Cancel</button>
        </div>
    </div>


</div>

<app-comments></app-comments>

