<div class="view">
    <div class="view_aside">
        <span class="view_aside_items">
            <img src="../../../../assets/icons/Picture1.svg" class="active_icon" (click)="changeToMenu('idea')">
        </span>
        <span class="view_aside_items">
            <img src="../../../../assets/icons/Files.svg" class="active_icon" (click)="changeToMenu('files')">
        </span>
        <span class="view_aside_items">
            <img src="../../../../assets/icons/points.svg" class="active_icon" (click)="changeToMenu('points')">
        </span>
        <span class="view_aside_items">
            <img src="../../../../assets/icons/edit.svg" class="active_icon" (click)="changeToMenu('edit')">
        </span>
    </div>
    <div class="view_all">
        <div class="view_idea" *ngIf="changeMenu==='idea'">
            <div class="view_overviews">
                <img src="{{image_url}}" alt="" id="view_image">
            </div>
            <div class="view_others">
    
                <div class="view_others_title" >
                    {{Title}}
                </div>
                
                <div class="view_others_links">
                    <button type="button" class="links">
                        <a href="google.com">
                            <span class="material-symbols-outlined">
                                link
                            </span>
                            <span style="width: max-content;">Click on Me</span>
                            
                        </a>
                    </button>
                </div>
                <span id="horizontal_line"></span>
                <div class="view_others_description">
                    {{Description}}
                </div>
                
                
            </div>
        </div>
        <div class="view_files" *ngIf="changeMenu==='files'">
            Hello
        </div>
        <div class="edit_comments" *ngIf="changeMenu==='points'">
            HII
        </div>



        <!-- EDIT IDEA -->


        <div class="view_setting" *ngIf="changeMenu==='edit'">
            <div class="editIdea_header">
                <div class="editIdea_databaseName">
                    <div class="databaseLogo">{{DatbaseName_first_Letter}}</div>
                    <div class="databaseName">{{DatbaseName}}</div>
                    <!--Add Idea Name-->
                </div>
                <!-- <input type="text" name="" id="" placeholder="Search"> -->
                <button type="button" class="editIdea_delete" (click)="delete_Idea()"><span class="material-symbols-outlined">
                        delete
                        </span>Delete Idea</button>
                <!-- <button type="button" (click)="end_edit()">X</button> -->
            </div>
            <div class="editIdea_body">
                <div class="editIdea_asideMenu">
                    <div class="editIdea_ideaDetails" (click)="show_ideaDetails()">
                        <span class="activeSettings"></span>
                        <span class="material-symbols-outlined">
                        lightbulb
                        </span>IdeaDetails
                    </div>
                    <div class="editIdea_links" (click)="show_links()">
                        <span class="activeSettings"></span>
                        <span class="material-symbols-outlined">
                        link
                        </span>Links & Info
                    </div>
                    <div class="editIdea_databseSecurity" (click)="show_databaseSecurity()">
                        <span class="activeSettings"></span>
                        <span class="material-symbols-outlined">
                        vpn_key
                        </span>Manage Access
                    </div>
                </div>
            
            
                <!--EditIdea Main Content-->
                <div class="editIdea_mainContent">
                    <!--Main Content : Idea Deatils-->
                    <div class="editIdea_mainContent_ideaDetails" *ngIf="bool_ideaDetails">
                        <p class="mainContent_heading">Manage Idea Details</p>
                        <div class="ideaDetails_title">
                            <p class="mainContent_heading_title">Change Idea Title</p>
                            <input type="text" name="" id="ideaDetails_title_text" [(ngModel)]="new_ideaTitle" placeholder="Enter New Idea Title">
                        </div>
                        <div class="ideaDetails_Description">
                            <p class="mainContent_heading_title">Change Idea Description</p>
                            <!-- <input type="text" name="" id="ideaDetails_title_text"> -->
                            <textarea name="" id="ideaDetails_Description_text" cols="30" rows="10" [(ngModel)]="new_description" placeholder="Enter New Idea Description"></textarea>
                        </div>
                        <div class="ideaDetails_image">
                            <p class="mainContent_heading_title">Change Idea View Image</p>
                            <img src="../../../../assets/beautiful-nature-mountain-scenery-with-flowers-free-photo.webp" alt="" class="ideaDetails_image_show" >
                            <!-- <div class="ideaDetails_image_show" ></div> -->
                            <input type="file" name="" id="" accept="image/*" (change)="onImageSelected($event)">
                        </div>
                        <div class="mainContent_save_cancel">
                            <button type="button" (click)="onApply_ideaDetails()">Apply</button>
                            <button type="button" (click)="end_edit()">Cancel</button>
                        </div>
                    </div>
            
            
                    <!--Main Content : DataSecurity-->
                    <div class="editIdea_mainContent_databseSecurity" *ngIf="bool_databaseSecurity">
                        <p class="mainContent_heading">Manage Access of Data among Shared</p>
                        <h2>Comming Soon</h2>
                        <div class="mainContent_save_cancel">
                            <button type="button">Apply</button>
                            <button type="button" (click)="end_edit()">Cancel</button>
                        </div>
                    </div>
            
            
            
                    <!--Main Content : Links-->
                    <div class="editIdea_mainContent_links" *ngIf="bool_links">
                        <p class="mainContent_heading">Manage Associated Links</p>
                        <div class="External_links">
                            <p class="mainContent_heading_title">Add External releated Links</p>
                            <div class="edit_links">
                                <div class="link_image">
                                    <img src="../../../../assets/icons/links.svg" alt="" id="link_image_img">
                                    <input type="file" name="" id="link_image_file">
                                </div>
                                <div class="input_links">
                                    <div class="input_links_text">
                                        <input type="text" name="" id="input_links_text" placeholder="Enter Text to appear">
                                    </div>
                                    <div class="input_links_href">
                                        <input type="text" name="" id="input_links_href" placeholder="Enter Link Realted to it">
                                    </div>
                                    <button type="button" id="add_new_link">A</button>
                                </div>
                                
                            </div>
                        </div>



                        <!-- PERSONAL LINKS -->

                        <!-- <div class="Person_links">
                            <p class="mainContent_heading_title">Add Person Links</p>
                            <div class="links">
                                <div class="link_image">
                                    <img src="" alt="">
                                    <input type="file" name="" id="">
                                </div>
                                <input type="text" name="" id="" placeholder="Enter Text to appear">
                                <input type="text" name="" id="" placeholder="Enter Link Realted to it">
                            </div>
                        </div> -->

                        <div class="mainContent_save_cancel">
                            <button type="button">Apply</button>
                            <button type="button" (click)="end_edit()">Cancel</button>
                        </div>
                    </div>
            
            
            
                    
                    
                </div>
            </div>
        </div>
    </div>
    
</div>

<!-- 
<div class="view_others_databases">
    <button type="button" (click)="view_files()" id="View_files_buttons">{{view}}</button>
    <button type="button" (click)="start_edit()" *ngIf="view_edit">E</button>
</div>
<app-files *ngIf="viewFiles"></app-files> -->



<!-- Edit Idea -->
<div class="editIdea" *ngIf="editable_window">


    <!--EditIdea_header-->
    



    <!--editIdea Body-->
    
    <!--EditIdea Aside Menu-->
    <!--Main Content : Files-->
    <div class="editIdea_mainContent_files" *ngIf="bool_files">
        <p class="mainContent_heading">Manage Stored Files</p>
        <!-- <p>Comming Soon</p> -->
        <div class="inputFiles">
            <div class="available_inputFiles" *ngFor="let files of Files">
                <input type="text" name="" id="" placeholder="Enter Text to Appear" value="{{files.Name}}">
                <!-- <input type="text" name="" id="" placeholder="Enter Extension of File">  -->
                <button type="button">Delete</button>
            </div>
            <div class="new_inputFiles">
                <input type="text" name="" id="" placeholder="Enter Text to Appear">
                <input type="text" name="" id="" placeholder="Enter Extension of File">
                <input type="file" name="" id="">
            </div>
            
        </div>
        <div class="mainContent_save_cancel">
            <button type="button">Apply</button>
            <button type="button" (click)="end_edit()">Cancel</button>
        </div>
    </div>


</div>

<app-comments></app-comments>

