<div class="ideas_navbar">
    <div class="ideas_selectThemes" *ngIf="Select_Themes">
        <button type="button" class="ideas_selectThemes_buttons"><img src="" alt=""></button>
        <button type="button" class="ideas_selectThemes_buttons"><img src="" alt=""></button>
        <!-- <button type="button" class="ideas_selectThemes_buttons"><img src="" alt=""></button>
        <button type="button" class="ideas_selectThemes_buttons"><img src="" alt=""></button>
        <button type="button" class="ideas_selectThemes_buttons"><img src="" alt=""></button> -->
    </div>
    <button type="button" id="ideas_navbar_button" (click)="selectThemes()"></button>
</div>

<div class="ideas_Introduction" *ngIf="ideas_getIntroInfo()">
    <div #canvas id="ideas_IntroductionCanvas" >
        Start Capturing Your Idea
        <button type="button" id="ideas_IntroductionCanvas_CreateIdeaButton" (click)="ideas_createNewIdea()">Create Your First Idea</button>
    </div>
    
</div>


<div class="ideas_IdeaList" *ngFor="let idea of IdeaList">
    <app-view></app-view>   
</div>
