<div class="navbar">
    <div class="select_themes">
        <button type="button" class="select_themes_buttons"><img src="" alt=""></button>
        <button type="button" class="select_themes_buttons"><img src="" alt=""></button>
        <button type="button" class="select_themes_buttons"><img src="" alt=""></button>
        <button type="button" class="select_themes_buttons"><img src="" alt=""></button>
        <button type="button" class="select_themes_buttons"><img src="" alt=""></button>
    </div>
    <button type="button" id="navbar_button"><img src="" alt=""></button>
</div>

<div class="Introduction" *ngIf="intro">
    <!-- <canvas id="Introduction_canvas" #canava></canvas> -->
    <div #canvas id="Introduction_canvas" ></div>
    <!-- <div class="Introduction_canvas">
        <div class="Introduction_text">Start Capturing Your Ideas</div>
    </div> -->
</div>


<div class="complete_list" *ngFor="let idea of IdeaList$ | async; trackby:identifyList">
    <app-view></app-view>   
</div>Introduction_text
