<div class="navbar">
    <div class="select_themes">
        <button type="button" class="select_themes_buttons"><img src="" alt=""></button>
        <button type="button" class="select_themes_buttons"><img src="" alt=""></button>
        <button type="button" class="select_themes_buttons"><img src="" alt=""></button>
        <button type="button" class="select_themes_buttons"><img src="" alt=""></button>
        <button type="button" class="select_themes_buttons"><img src="" alt=""></button>
    </div>
    <button type="button" id="navbar_button"><img src="" alt=""></button>
</div>

<div class="Introduction" *ngIf="getIntroinfo()">
    <div #canvas id="Introduction_canvas" >
        Start Capturing Your Idea
        <button type="button" id="introCreateIdea" (click)="createNewIdea()">Create Your First Idea</button>
    </div>
    
</div>


<div class="complete_list" *ngFor="let idea of IdeaList">
    <app-view></app-view>   
</div>
