.ideas_IdeaList{
    margin-top: 30px;
    /* margin: ; */
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 100px;
    /* width: 100vw; */
    /* background-color: {{backgroun}}; */
}


.ideas_Introduction{
  color:black;
  height: 84vh;
}

.ideas_navbar{
  display: flex;
  flex-direction: row;
  justify-content: end;
  padding: 1%;
}
.ideas_selectThemes_buttons{
  margin-right: 10px;
  animation: trans 0.2s ease-in;
}
@keyframes trans {
  0%{
    transform: translate(0px);
  }100%{
    transform: translate(-10px);
  }
}
#ideas_navbar_button{
  position: relative;
  height: 40px;
  outline: none;
}

#ideas_navbar_button:hover::before{
  position: absolute;
  contain: content;
  content: "Select Themes";
  background-color: rgba(71, 71, 71, 0.459);
  color: rgb(49, 49, 49);
  border-radius: 6px;
  width: 150px;
  height: 40px;
  right:0px;
  top: 50px;
  box-shadow: 2px 2px 2px grey;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
#ideas_IntroductionCanvas{
  width: 100vw;
  height: 100%;
  font-size: 70px;
  font-weight:900;
  background-image:linear-gradient(rgba(255, 255, 255, 0),rgb(255, 136, 0),rgba(255, 255, 255, 0));
  color: rgba(255, 255, 255, 0.534);
  text-shadow: 10px 10px 4px rgba(0, 0, 0, 0.336);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* margin-bottom: 10px; */
}
#ideas_IntroductionCanvas_CreateIdeaButton{
  margin-top: 60px;
  /* align-self:self-; */
  font-size: 20px;
  width: 250px;
  border: none;
  color: rgba(83, 83, 83, 0.678);
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 10px 10px 4px rgba(0, 0, 0, 0.24),inset 10px 10px 4px rgba(160, 160, 160, 0.062);
}


