<div class="app_header">
  <span class="app_header_changeViews">
    <button type="button" [class]="app_header_ideatebutton" (click)="app_showIdeate()">
      <span class="material-symbols-outlined">
        lightbulb
      </span>
    </button>
    <button type="button" [class]="app_header_scheduledbutton" (click)="app_showScheduled()">
      <span class="material-symbols-outlined">
        wysiwyg
      </span>
    </button>
  </span>
  <div class="app_header_filterTypes">
    <!-- <button type="button" class="app_header_filterTypes_buttons">Environment</button>
    <button type="button" class="app_header_filterTypes_buttons">Environment</button>
    <button type="button" class="app_header_filterTypes_buttons">Environment</button>
    <button type="button" class="app_header_filterTypes_buttons">Environment</button>
    <button type="button" class="app_header_filterTypes_buttons">Environment</button>
    <button type="button" class="app_header_filterTypes_buttons">Environment</button> -->
  </div>
  <div class="app_header_createIdea">
    <button type="button" (click)="app_createIdea()" id="app_header_createIdea_button">Initate a new Idea</button>
  </div>
</div>

<div class="app_view">
  <div class="app_view_Ideate" *ngIf="Ideas"><app-ideas></app-ideas></div>
  <div class="app_view_Ideate" *ngIf="Schedule"><app-schedules></app-schedules></div>
</div>


<!-- <div class="others_whole" *ngIf="hide_others">
  <div class="atStarting">
    <div class="atStarting_upper">
      <img src="./assets/flowers.jpg" alt="a Img" srcset="" id="atStarting_upper_image">
    </div>
    <div class="atStarting_lower">
      <div class="atStarting_lower_left">
        New Ideas
        <div class="atStarting_lower_left_files">
          <span class="material-symbols-outlined">
            edit_square
            </span>
          <span class="atStarting_text">Create a New Idea</span>
        </div>
      </div>
      <div class="atStarting_lower_right">
        Getting Started
        <div class="atStarting_links">
          <span class="material-symbols-outlined">
            language
            </span>
          <span class="atStarting_text">Manual</span>
        </div>
        <div class="atStarting_links">
          <span class="material-symbols-outlined">
            language
            </span>
          <span class="atStarting_text">Official Website</span>
        </div>
      </div>
    </div>
    <div class="atStarting_footer">
      <button type="button" class="atStarting_logo_" (click)="disappear_atStarting()">Continue<span class="material-symbols-outlined">
        arrow_right
        </span></button>
    </div>
  </div>
</div> -->