.all_comments{
    display: flex;
}
.space_comment{
    border: 1px solid rgba(255, 255, 255, 0);
    /* margin: 1%; */
    /* padding: 1%; */
    width:3.3em;
    margin-bottom: 10px;
    margin-right: 10px;
    box-sizing: border-box;
    /* margin: 0% 2% 0% 2%; */
    border-radius: 10px;
    height: 45px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(205, 205, 205, 0);
}

.comments,.add_comments,.showed_comments,.showed_buttons{
    border: 1px solid rgba(255, 255, 255, 0.281);
    /* margin: 1%; */
    /* padding: 1%; */
    width:83.5vw;
    box-sizing: border-box;
    /* margin: 0% 2% 0% 2%; */
    border-radius: 10px;
    height: 45px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(205, 205, 205, 0.5);
    box-shadow: -7px 7px 5px rgba(0, 0, 0, 0.24),inset -7px 7px 10px rgba(255, 255, 255, 0.25);
}
.comments{
    margin-bottom: 10px;
}
#addpoint{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.comment_text{
    /* margin: 1%; */
    /* box-sizing: border-box; */
    width:80%;
    height: 50px;
    padding: 1%;
    font-size: 20px;
    display: flex;
}

#addpoint{
    background-color:transparent;
    border: none;
    width: 100%;
    box-shadow: none;

}

.add_comments{
    height: fit-content;
    padding: 1%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#textarea{
    border: 1px solid rgba(255, 255, 255, 0.281);
    color:white;
    font-size: 20px;
    font-weight: 500;
    padding: 1%;
    box-sizing: border-box;
    border-radius: 10px;
    height: 148px;

    width: 86%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-between;
    background-color: rgba(128, 128, 128, 0.37);
    box-shadow:inset -3px 3px 5px rgba(3, 3, 3, 0.13);
}
#textarea:focus{
    border: none;
    outline: none;
}



/*Inputimage*/
#input_image{
    height: 148px;
    /* display: none; */
    object-fit: cover;
}
.input_image_button{
    height: max-content;
    padding: 0px;
    margin-top: 10px;
    margin-left: 10px;
    overflow: hidden;
    object-fit: cover;
    border: none;
    height: 148px;
    width: 222px;
}
#accept_image{
    color: transparent;
    border: none;
    background-color: transparent;
    box-shadow: none;
    overflow: hidden;
    /* margin: 0; */
    padding: 0;
    width:99px;
    /* background-color: blue; */
    /* background-image: url('../../../../assets/flowers.jpg'); */
}

.comment_image_and_create_list{
    display: flex;
    flex-direction: column;
    /* margin-left: 1%; */
}
.comments_buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.add_comments_buttons{
    width: fit-content;
    margin-bottom: 10px;
    background-color: rgba(128, 128, 128, 0.37);
    box-shadow: -4px 4px 5px rgba(0, 0, 0, 0.24),inset -4px 4px 10px rgba(255, 255, 255, 0.25);
}




/*Showed Comments*/
.showed{
    display: flex;
    width: 83.5vw;
    margin-top: 1%;
    /* margin-left: 2%; */
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    align-items: start;
}
/* .comments_crousel{
    display: flex;
    flex-direction: row;
    width:100%;
    height: 180px;
    overflow: scroll;
    
    align-items:flex-start;
} */
.showed_comment_portion{
    width: 94%;
    /* box-sizing: border-box; */
}
.showed_comments{
    width: 100%;
    margin: 0px;
    height: 170px;
    display: flex;
    flex-direction: row;
    padding: 10px;
    /* margin-top: 1%; */
    /* margin-right: 1%; */
    /* margin: 0%; */
    justify-content: space-between;
    /* flex-basis: 89vw; */
    /* width: 89vw; */
    /* min-width: 85vw; */
    overflow: hidden;
    /* max-width: 50vw; */

}
/* .showed_comments_text_links{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    flex-basis: 80%;
    height: 100%;
} */
.showed_comments_text{
    align-self: flex-start;
    /* overflow: scroll;
    overflow-y: scroll; */
    /* text-overflow: ellipsis; */
    word-wrap: break-word;
    overflow: auto;
    /* flex-basis: 100%; */
    padding: 5px;
    margin: 0;
    font-size: 18px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.521);

}
.showed_comments_links{
    margin-top: 5px ;
    padding-left: 15px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    overflow: scroll;
    height: 60px;
    width: 100%;
}
.showed_comments_link{
    width: max-content;
    /* min-width: 60px; */
    /* margin-left: 5px; */
    /* padding: 5px; */
    padding: 5px 10px;
    border-radius: 25px;
    height: 20px;
    display: flex;
    margin-right: 10px;
    /* color; */
    /* justify-content: space-between; */
    justify-content: center;
    /* align-items: center; */
    /* background-color: white; */
    background-color: rgba(205, 205, 205, 0.5);
    box-shadow: -7px 7px 5px rgba(0, 0, 0, 0.24),inset -7px 7px 10px rgba(255, 255, 255, 0.25);
}
a{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: fit-content;
    color: white;
    /* padding: 0px 10px; */
    /* margin: 0px 10px; */
}
.showed_comments_link_title{
    width: max-content;
}
.showed_comments_image{
    height: 148px;
    border-radius: 8px;
    margin-left: 0px;
    align-self:flex-end;
    box-shadow: -3px 3px 5px rgba(46, 46, 46, 0.411);
}

.showed_buttons{
    /* margin: 1% 0% 0% 0%; */
    width: 45px;
    height: 170px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    margin: 0px;
    margin-left: 1%;
}
.crousel_buttons{
    display: flex;
    flex-direction: column;
    border: 1px solid grey;
    overflow: hidden;
    height: 80px;
    width: 40px;
    border-radius: 25px;
    margin-left: 0%;
    box-sizing: border-box;
}
.crousel_buttons_button{
    background-color: transparent;
    border: none;
    /* box-shadow: none; */
    /* margin-top: 10px; */
    text-align: center;
    border-radius: 0px;
    height: 115px;
    margin: 0px;
    padding: 0px;
    width: 100%;
}